@using LearningExperience.BAL.Models
<div class="top-row pl-4 navbar navbar-light">
    <a class="navbar-brand" href="">Learning Experience</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <div style="background-color: #0FA3B1; font-size: 16px; padding-left: 7px;">
                <a class="list-group-item list-group-item-action" href="">Разработка ПО (общее)</a>
            </div>
            <div style="padding-left: 7px; font-size: 14px; background-color: #D88B22">
                <a class="list-group-item list-group-item-action bg-light" href="">С#</a>
            </div>
            <div style="padding-left: 7px; font-size: 14px; background-color: green">
                <a class="list-group-item list-group-item-action bg-light" href="">Level 1 - Junior</a>
            </div>
            <div style="padding-left: 7px; font-size: 14px; background-color:blue">
                <a class="list-group-item list-group-item-action bg-light" href="">переменные, литералы</a>
                <a class="list-group-item list-group-item-action bg-light" href="">типы данных</a>
            </div>
        </div>
    </div>

</div>

@code {

    [Parameter] public DocumentsScheme DocumentsScheme { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

}