@using LearningExperience.Web.Blazor.Models
<div class="top-row pl-4 navbar navbar-light">
    <a class="navbar-brand" href="">Learning Experience</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <NestedList Documents="@Documents" />
        </div>
    </div>
</div>

@code {

    [Parameter] public List<Document> Documents { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}